<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   Right Click Menubar

   Created by Zimeng Xiong on 6/23/25.
   Copyright (c) 2025 Zimeng Xiong. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.ZimengXiong.Right-Click-Menubar</string>
    <key>NSHumanReadableCopyright</key>
    <string>All Content Copyright Zimeng Xiong</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>This app needs to access the menu bar of other applications to display them at your cursor.</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>This app needs access to control other apps for accessibility purposes.</string>
</dict>
</plist>
